## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
robovm-build/

## GWT
war/
html/war/gwt_bree/
html/gwt-unitCache/
.apt_generated/
html/war/WEB-INF/deploy/
html/war/WEB-INF/classes/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
android/libs/armeabi/
android/libs/armeabi-v7a/
android/libs/arm64-v8a/
android/libs/x86/
android/libs/x86_64/
android/gen/
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Gradle

.gradle
gradle-app.setting
build/

## OS Specific
.DS_Store
Thumbs.db
/android/assets/save.dat
/android/assets/Settings.xml
/android/assets/error.log
/android/assets/Layout.xml
/android/assets/UnlockTrees/FireOld.oldxml

## Compiled data
/android/assets/CompressedData
/android/assets/settings.dat
/android/assetsraw/Atlases/SpriteAtlas.atlas
/android/assetsraw/Atlases/SpriteAtlas.png
/android/assetsraw/Layout.xml
/android/assetsraw/ProcessedPaths.xml
/android/assetsraw/Settings.xml
/android/assetsraw/atlasPackCache
/android/assetsraw/textureCompressionCache
/android/assetsraw/attempt_save.dat
/android/assetsraw/badlogic.jpg
/android/assetsraw/error.log
/android/assetsraw/settings.dat
/android/assetsraw/test.xmldata
/core/Libraries/exp4j.jar
