[submodule "core/src/core/src/exp4j"]
	path = core/src/core/src/exp4j
	url = https://github.com/Lyeeedar/exp4j.git
[submodule "core/src/exp4j"]
	path = core/src/exp4j
	url = https://github.com/Lyeeedar/exp4j.git
[submodule "core/src/Engine"]
	path = core/src/Engine
	url = https://github.com/Lyeeedar/TileEngine.git
[submodule "android/assetsraw/Sprites"]
	path = android/assetsraw/Sprites
	url = https://github.com/Lyeeedar/Sprites.git
